*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
}
.contact-header {
  width: 100%;
  background-color: rosybrown;
}
.container {
  max-width: 800px;
  margin:0px auto;
  /* overflow: auto; or ::after */
}
.container::after {
  content: "";
  display: block;
  clear: both;
}
.logoo{
   float: left;
}
.logoo a img{
  float: left;
  height: 50px;
  width: auto;
  margin-left: 100px;
  margin-top: 10px;
}
.header-logo {
  padding: 10px 0;
  float: left;
}
.header-logo a {
  font-family: "Qwitcher Grypen", cursive;
  font-size: 50px;
  color: black;
  text-transform: uppercase;
}
.ulli {
  float: right;
}
.ulli li {
  float: left;
  list-style:none;
}
.ulli li a {
  color: black;
  padding: 25px 5px;
  display: inline-block;
}
.ulli li:nth-child(3) a {
  background-color: rgba(0, 0, 0, 0.185);
  color: white;
}
.main {
  width: 100%;
  float: left;
}
.contact-main h1 {
  font-size: 30px;
  padding: 10px 0px;
}
.contact-main h1 span {
  color: rosybrown;
}
.contact-main p::selection {
  background-color: rosybrown;
  color: black;
  
} 

.form-group {
  margin-bottom: 15px;
}
.form-group-title {
  width: 100%;
}
.form-group label {
  display: block;
}
.form-group input {
  width: 100%;
  height: 40px;
  padding: 0px 10px;
  caret-color: rosybrown;
  
}

.form-group textarea {
  width: 100%;
  height: 200px;
  resize: none;
  caret-color: rosybrown;
  padding: 10px;
  font-family:cursive;
}

.form-group .submit {
  width: auto;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  
}
.form-group .submit:hover {
  color: rosybrown;
  transition: 0.2s;
}
.form-group input::placeholder {
  color: rosybrown;
}
.form-group textarea::placeholder {
  color: rosybrown;
}

.form-group input:focus,
textarea:focus {
  outline-color: rosybrown;
}

.form-group input:focus::placeholder {
  color: black;
}
input[type="submit"] {
  margin-bottom: 20px;
}
.icons {
  width: 100%;
  background-color: rosybrown;
  float: left;
}
.icon1, .icon2, .icon3 {
  float: left;
  text-align: center;
  padding: 50px;
  width: 33%;
}
.icon1 h3 , .icon2  h3, .icon3 h3{
  padding: 5px 0;
}

.icon2 a,
.icon3 a {
  color: black;
}
.foti {
  width: 100%;
  float: left;
  background-color: rgba(188, 143, 143, 0.53);
  text-align: center;
  padding: 25px 0;
  font-size: larger;
}
/* mobile media */
@media (max-width: 767px) {
  .header-logo {
    width: 100%;
    text-align: center;
  }
  .ulli {
    width: 100%;
  }
  .ulli li {
    width: 100%;
    text-align: center;
  }
  .ulli li a {
    padding: 5px;
    width: 100%;
  }
  .contact-main {
    padding: 0 5px;
  }
  .icon1,
  .icon2,
  .icon3 {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid pink;
  }
  .icon3 {
    border-bottom: none;
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .header-logo {
    padding: 0 10px;
  }
  .contact-main {
    padding: 0 10px;
  }
}
/* 4k */
@media (min-width: 2560px) {
  body {
    font-size: 2rem;
  }
  .container {
    max-width: 1500px;
  }
}
